* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:#F1641E;
    font-size: 45px;
    margin-left:42px;
    padding-bottom:20px;
    padding-top:30px;
    font-family: serif;
}


#nav{
    border-bottom:3px solid rgb(221, 219, 219);
    padding: 2px;
    margin-bottom:70px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

    font-size: 15px;
    line-height: 20px;
}

.nav-label .dropdown {
    display: none;
}

.nav-label .dropdown {
    position: absolute;
    left: 0;
    right: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size:14px;
    font-weight:lighter;
    font-style: normal;

};


.nav-label span:hover > .dropdown {
    display: flex;
}



#nav .topnav{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#nav input{
    border: 1px solid rgb(199, 191, 191);
    font-size: 16px;
    border-radius: 25px;
    padding-left: 15px;
    margin-left: 10px;
    width:70%;
    height:50px;
    background-color: rgb(243, 241, 241);
}



#nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* .grid-contain{
width:80%;
height: 200px;
margin:0 auto;
border:3px solid red;
} */

#grid1{
    display:grid;
    margin-top:20px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap:10px;
    justify-content: center;
    
}

.product-item{
    width: 200px;
    
}
.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item img{
    width:100%;
    
}


.product-bg{
    background-size:cover ;
    height: 200px;
    /* width: 100%; */
    border:1px solid red;
  
  
}

h2{
    font-size: 15px;
    font-weight: lighter;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;;
    margin:5px;
}
strong{
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
   
}

 